body {
  font-family: 'Open Sans', sans-serif;
  margin:0;
}

p {
  line-height: 1.5em;
  letter-spacing: 1px;
}

h2 {
  font-style: bold;
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.8rem;
  color: rgba(58, 0, 53, 1);
}

.banner {
  width: 100%;
  height: 800px;
  background:url(./images/me.jpg) no-repeat fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
}

header {
  z-index: 1;
  position:absolute;
  margin-top: -200px;
  margin-left: 60px;
  width: 60%;
  max-width: 600px;
}

header h1 {
  z-index: 4;
  color: rgba(58, 0, 53, 1);
  font-size: 36px;
  border-bottom: 1px solid #FFFFFF;
  letter-spacing: 2px;
  text-shadow:rgba(255,255,255,0.8);
  text-align: center;
  padding-bottom: 20px;
}

 header p {
  color: rgba(58, 0, 53, 1);
  font-size: 20px;
  letter-spacing: 2px;
  font-style: italic;
  text-shadow:1 #32525C;
  text-align: center;
}

.my_logo {
  position: fixed;
  top: 0;
  z-index: 10;
  margin-top: 2px;
  margin-left: 5px;
  width:10%;
  max-width: 80px
}

nav {
  z-index: 3;
  background-color: rgba(128, 102, 145, 1);
  text-align: right;
  padding: 10px;
  border-radius: 4px;
  position: fixed;
  top:0;
  width: 100%;

}

nav a:link, nav a:visited {
  text-transform: uppercase;
  color: #FDFCFC;
  text-align: center;
  text-decoration: none;
  padding: 5px 15px;
  margin-right: 15px;
}

nav a:hover, nav a:active {
  background-color:#3A0035;
}

h2 {
  font-style: bold;
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.8rem;
  color: rgba(58, 0, 53, 1);
}

.banner_effect {
  z-index: 0;
  width: 100%;
  height: 800px;
  background-color: rgba(117, 151, 230, 0.5);
  position:absolute;
  top: 0;
  left: 0;
}

.backgroundAbout{
  width: 100%;
}

.description_icon{
  transition: 0.5s;
}

.description_icon:hover {
  transform: scale(1.3);
}

.about {
  width: 60%;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.phrase {
  font-size: 18px;
  text-align: center;
  color: rgba(58, 0, 53, 1) ;
  margin: 0px auto;
  letter-spacing: 1.3px;
  padding-bottom: 15px
}

.phrase h3{
  text-align: center;
  margin-bottom: 5px;
}

.phrase p {
  font-size: 14px;
  font-style: italic;
  color: rgba(58, 0, 53, 1) ;
}

.phrase img {
  width: 60px;
  height: 60px;
  padding: 2px;
}

.backgroundLearn {
  background-color:#1E2A54;
  width: 100%;
}

.learn {
  width: 60%;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  color: #FFFFFF;
}

.learn h2 {
  color: #FFFFFF;
}

.learn .phrase, .learn .phrase p {
  color:rgba(255,255,255,1);
}

.logos {
  text-align: center;
}

.logos li {
  display: inline-block;
  width: 100px;
  padding: 20px;
  text-align: center;
}


.learning_resources {
  padding: 20px;
}
.schools {
  text-align: center;
}

.schools img{
  width: 70px;
  height: 70px;
}

.schools li {
  display: inline-block;
  padding: 20px;
  text-align: center;
}

.make_round {
  border-radius: 50%;
}

.backgroundWork {
  background-color: #FFFFFF;
  width: 100%;
  padding-bottom: 10px;
}

.work {
  width: 60%;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

ul {
  list-style-type: none;
  text-align: center;
  padding: 20px;

}
.apps img {
  width: 100%;
}

footer {
  display: inline-flex;
    background-color: #1E2A54;
    width: 100%;
}

.backgroundContact {
  background-color: rgba(58, 0, 53, 1);
  width: 30%;
}

.contact {
  color: #FFFFFF;
  max-width: 700px;
  margin: 5px auto;
  text-align: center;
}

.contact h2 {
  color: #FFFFFF;
  margin: 2px;
}

.contact p {
  padding: 3px;
}

.contact img {
    width: 60px;
    height: 60px;
    padding: 2px;
}

.bottom {
  color: #FFFFFF;
  width: 60%;
  max-width: 700px;
  text-align: left;
  margin: 5px 15px;
}

.bottom .phrase, .bottom .phrase p ,{
  color:rgba(255,255,255,1);
}

.bottom h2 {
  text-align: left;
  color: #FFFFFF;
  margin: 2px;
}

.bottom_logos {
  text-align: left;
  margin: 2px;
  padding: 10px;
}

.bottom_logos img {
  width: 70px;
  height: 70px;
}

.bottom_logos li {
  color:#FFFFFF;
  display: inline-flex;;
  list-style-type: none;
  max-width: 40%;
  padding: 0px 15px;
}
